input[type=text] {
  border: none;
  border-bottom: 2px solid MediumSeaGreen;
  box-sizing: border-box;
}

input[type=text]:focus {
    background-color: lightblue;
}

.myForm {
  text-align: center;
}

form {
  color: Black;
  font-weight: bold;
}

#init {
  background-color: white;
}

h1 {
  color: Black;
  background-color: white;
}

.body {
  background-image: url("matrix.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#resultTable {
  visibility: hidden;
  background-color: white;
  color: black;
}

#myMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  visibility: hidden;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-wp8o {
  border-color: #000000;
  text-align: center;
  vertical-align: top
}
